<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Find Help</title>
</head>
<body>
<header style="background-color: #004466; padding: 10px;">
  <nav class="navbar">
    <a href="/" style="color: white; margin-right: 15px; text-decoration: none;">Home</a>
    <a href="/about" style="color: white; margin-right: 15px; text-decoration: none;">About the Trust Act</a>
    <a href="/rights" style="color: white; margin-right: 15px; text-decoration: none;">Know Your Rights</a>
    <a href="/report" style="color: white; margin-right: 15px; text-decoration: none;">Report Violations</a>
    <a href="/help" style="color: white; text-decoration: none;">Find Help</a>
  </nav>
</header>

  <h2>Find Help</h2>
  <p>This page provides resources and contact information for immigrant legal and community support.</p>
  
  
  
  <p>These are the following organizations’ contact information you can go to:</p>
  <ul class="help-resources">
  <li>
  <a href="https://cirict.org" target="_blank">
  Connecticut Institute for Refugees and Immigrants (CIRI)
  </a> 
  <p>Immigration legal aid, asylum support, refugee resettlement</p>
  <a href="tel:12033360141">Call: 1-203-336-0141</a>
  <p></p>
  </li>
  
  <li>
  <a href="https://acluct.org" target="_blank">
  American Civil Liberties Union (ACLU) of Connecticut
  </a> - 
  <p>Legal advocacy for civil rights, including immigration enforcement abuses</p>
  <a href="tel:18605239146">Call: 1-860-523-9146</a>
  <p></p>
  </li>
  
  <li>
  <a href="https://ctprf.org" target="_blank">
  Center for Latino Progress
  </a> - 
  <p>To advance the social and economic conditions of the Hispanic community</p>
  </li>
  
  
  <h3><b>In case ICE shows up or you witnessed someone being detained by ICE, here’s the emergency hotlines, make sure to save the number so you can contact ASAP:</b></h3>
  <li>
  <p>ICE Raids Emergency Hotline – United We Dream</p>
  <a href="tel:18443631423">Call: 1-844-363-1423
  </a> - Bilingual support (English/Spanish)
  </li>
  
  <li>
  <p>National Immigration Detention Hotline – Freedom for Immigrants</p>
  <a href="tel:12097573733">Call: 1-209-757-3733
  </a>
  </li>
  </ul>
</body>
</html>
