<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
   <link rel="stylesheet" href="/style.css">
</head>
<body>
<header style="background-color: #004466; padding: 10px;">
  <nav class="navbar">
    <a href="/" class="active"> Home</a>
    <a href="/about" >About the Trust Act</a>
    <a href="/rights" >Know Your Rights</a>
    <a href="/report" >Report Violations</a>
    <a href="/help" >Find Help</a>
  </nav>
</header>

  <h1>Welcome to the Immigrant Rights Info Site</h1>
  <p>This site helps Hartford residents understand the Trust Act and their rights.</p>
  <p></p>
  <img src="/Image2.jpg" alt ="Immigration Protest" width = 50% height = 50%>
  <footer style="text-align: center; padding: 10px; background: #eee; font-size: 0.9em;">
  <p>Created by Kevin Vasquez for my AP Computer Science A WE Service Project © 2025</p>
</footer>
</body>
</html>
