<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Know Your Rights</title>
</head>
<body>
<header style="background-color: #004466; padding: 10px;">
  <nav class="navbar">
    <a href="/" style="color: white; margin-right: 15px; text-decoration: none;">Home</a>
    <a href="/about" style="color: white; margin-right: 15px; text-decoration: none;">About the Trust Act</a>
    <a href="/rights" style="color: white; margin-right: 15px; text-decoration: none;">Know Your Rights</a>
    <a href="/report" style="color: white; margin-right: 15px; text-decoration: none;">Report Violations</a>
    <a href="/help" style="color: white; text-decoration: none;">Find Help</a>
  </nav>
</header>

  <h1>Know Your Rights</h1>
  <p>This page informs immigrants of their constitutional rights when approached by law enforcement or ICE.</p>
  <p> </p>
  <p> </p>
  <p><b>What are your rights and how can you use them?</b></p>
  <p>Every immigrant, including undocumented immigrants, has certain constitutional rights, like:</p>
  <ul>
  <li>The right to remain silent.</li>
  <li>The right to an attorney</li>
  <li>Protection against unlawful searches and seizures</li>
  <li>Not required to answer questions about your immigration status.</li>
  <li>Due process before being detained or deported</li>
</ul>
<p></p>
<p><b>However, if a police or ICE agent is at your door, you can do the following.</b></p>
<ul>
<li>Don’t open the door and ask for a warrant. </li>
<li>If they don’t have any, you’re not legally required to let them in and answer their questions until they have a warrant. </li>
<li>In case they don’t listen, stay calm and don’t argue, use that info in court to show that the officer/agent was unprofessional. </li>
<li>In case they have a warrant, ask them to slide under your door, and carefully look at it to see if it’s an official warrant like if it has your name and address, if not, don’t listen to them. </li>
<li>You can record/take notes, if the officer/agent said you can’t do so, don’t listen, it’s your right, and you can use it as your proof when in court. </li>
</ul>
<p></p>
<p><b>In case you do get detained:</b></p>
<ul>
<li>You can invoke the fifth amendment and ask to speak with your lawyer.</li>
<li>If the officer/agent asks you to sign a paper, don’t do it until your lawyer can help you in giving you legal advice. </li>
<li>You also have the right to make a phone call to someone, contact your consulate and appear before a judge (unless in very limited emergency cases).</li>
</ul>
</body>
</html>
